<h1 mat-dialog-title>Création d'un nouveau sujet</h1>
<div mat-dialog-content>
  <p>De quoi voulez vous parler ?</p>
  <mat-form-field>
    <textarea matInput [(ngModel)]="data.topic"></textarea>
  </mat-form-field>
</div>
<div mat-dialog-actions>
<!--  <div class="alert alert-danger" role="alert" [hidden]="isHidden()">-->
<!--    {{errormessage}}-->
<!--  </div>-->
  <button mat-button (click)="onNoClick()">Non Merci</button>
  <button mat-button [mat-dialog-close]="data.topic"  (click)="onClick()">Ok</button>
</div>
